
html,
body {
  position: relative;
  height: 100%;
}
.swiper-wrapper{
  justify-content: center;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.swiper-slide {
  width: 27rem;
  height: 22rem;
  position: relative;
}

@media (max-width: 600px) {
  .swiper_container {

    margin: 10px auto;
  }
  .swiper-slide {
    width:25rem !important;
    height: 20rem !important;
  }
  .swiper-slide img {
    object-fit:contain;
    width: 15rem !important;
    height: 200px !important;
  }
}
.swiper-slide {
  background-position: center ;
  background-size:contain;
  height: 100px;
}

.swiper-slide img {
  width: 27rem;
  height: 22rem;  
  object-fit: cover;
}
